{% extends 'home.html' %}

{% block title %} Sun Enterprises/About Us {% endblock title %}



{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <center> <img style="height: 230px; width: 100%;" src="/static/image/About_us.jpg" alt="">    </center>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h3 style="color:red"> <u> About Us</u></h3>
            The firm strives to provide services to its clients which is consistent and of the highest standards. We are
            providing best services with track record.
            Heads of all departments are the leaders of proven worth who are innovative in developing and nurturing
            crack teams that deliver.
            Sun Enterprises in the leader in providing end-to-end solutions for a wide area of services ranging from
            Engineering, Maintenance, Housekeeping, Office support, Pest Control, Horticulture, and other placement
            also. The operating philosophy of the company is that of being flexible and adaptive to meet the needs of
            its clients.
            We are managing building Assets and services with professional way.
        </div>
    </div>
    <div style="padding-top: 50px;" class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <center> <img style="height: 280px; width: 100%;" src="/static/image/Vision.jpg" alt="">    </center>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h3 style="color:red"> <u> Our Vision</u></h3>
            Our vision is to achieve overall excellence in all spheres of business operations through a process of
            continual improvement in the defined quality objectives. We want to create a world class integrated
            facility management system in India.
            
        </div>
    </div>
    <div style="padding-top: 50px;" class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <center> <img style="height: 280px; width: 100%;" src="/static/image/mission.jpg" alt="">    </center>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h3 style="color:red"> <u> Our Mission</u></h3>
            Our mission is to create and sustain a brand focused organization through employee engagement and
            process excellence. We want to stay ahead of others in our area of operations by having an innovative
            approach and adapting to the changing and growing needs of various areas of our business.
            
        </div>
    </div>
     
</div>

{% endblock content %}