<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'css/java.js' %}"></script>
        <link rel="shortcut icon" href="/static/image/logo.png" type="image/x-icon">
        <title>{% block title %} Sun Enterprises/Home Page {% endblock title %}</title>
    </head>

    

    <body>
        <div style="background-color:#EC421E; height: 30px;" class="container-fluid">
            <div class="row">
           <div style="border-right: solid 3px white; text-align: center;"class="col-lg-3 col-sm-6 col-md-6 px-3"><p style="color:white"> Opening Time: 8:00AM-6:00PM</p></div> 
           <div style="border-right: solid 3px white; text-align: center; font-size:30px;"class="col-lg-3 col-sm-6 col-md-6 px-3"></div> 
           <div style="border-left: solid 3px white;" class="col-lg-3 col-md-6"> <p style="color:white"> <img style="width:18px;" src="/static/image/phone.png" alt="">+91-8459165341,9971272694</p></div>  
           <div style="border-left: solid 2px white;" class="col-lg-2 col-md-6"><p style="color:white"><img style="width:20px ;" src="/static/image/Mail_pic.png"> info@sunrealfacilty.com</p></div>  
            </div>
        </div>

        <!-- Navgation Bar -->
        <div class="container-fluid">
            <div style="height:70px;" class="row">
                <div class="col-lg-2"><center><img style="width:auto; height:80px;" src="/static/image/newlogo.png" alt=""></div></center>
                <div class="col-lg-6 offset-lg-1 py-2 ">
                    <ul>
                        <li style="float:left; list-style: none; padding-left:80px ; padding-top: 20px; font-size: large; font-weight: 500;"><a style="text-decoration: none; color:black" href="{% url 'home' %}"> Home</li></a>
                        <li style="float:left; list-style: none; padding-left:80px ; padding-top: 20px; font-size: large; font-weight: 500;"><a style="text-decoration: none; color:black" href="{% url 'about_us' %}"> About Us</li></a>
                        <li style="float:left; list-style: none; padding-left:80px ; padding-top: 20px; font-size: large; font-weight: 500;"><a style="text-decoration: none; color:black" href="{% url 'service' %}"> Our Services</li></a>
                        <li style="float:left; list-style: none; padding-left:80px ; padding-top: 20px; font-size: large; font-weight: 500;"><a style="text-decoration: none; color:black" href="{% url 'contact_us' %}"> Contact</li></a>
                    </ul>
                </div>
                
            </div>
        </div>
        <hr>

        {% block content %}
        <div id="demo" class="carousel slide" data-bs-ride="carousel">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
              <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
              <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
              <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
              <button type="button" data-bs-target="#demo" data-bs-slide-to="6"></button>
              <button type="button" data-bs-target="#demo" data-bs-slide-to="7"></button>
            </div>
          
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img style="height: 500px;" src="/static/image/cleaning_office.webp" alt="Los Angeles" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img style="height: 500px;" src="/static/image/sanitazion.png" alt="Chicago" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img style="height: 500px;" src="/static/image/clean_floor.png" alt="New York" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img style="height: 500px;" src="/static/image/image1.jpeg" alt="New York" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img style="height: 500px;" src="/static/image/image2.jpeg" alt="New York" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img style="height: 500px;" src="/static/image/image3.jpeg" alt="New York" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img style="height: 500px;" src="/static/image/image4.jpeg" alt="New York" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img style="height: 500px;" src="/static/image/electrical.jpg" alt="New York" class="d-block w-100">
              </div>
            </div>
          
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>

          <div style="padding-top: 80px;" class="container">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12">
                <h1 style="color: red;" > <u> Why Choose Us </u></h1><br>
                <p>
                  The branding success and reputation of any organization is reflected via its facilities. Outstanding maintained commercial properties are adored by the employees & stake holders alike. Sun facility has perfected the process of selecting expert trained staff to meet your facility management competitive demand. Our proactive response to client and ensure satisfaction with them. Our staff is well trained and completed all the tasks on time with highly satisfaction. If you are looking for a reliable facility management the Sun facility stand with you and provide a great experience.
                  </p>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <img style="width: 300px; margin-left: 100px;" src="/static/image/why_choose_us.jfif" alt="">
              </div>
            </div>
          </div>
          <br><hr>

          <div class="container">
            <div class="row">
              <h1 style="text-align:center; padding-top: 50px; color: red;"><u> Nothing is more than our Customers</u></h1>
              <p style="text-align: center;">Our First Priority is Customer Satisfaction</p> 
              <p style="text-align: center;">We are following</p> 
            </div>
            <div style="padding-top: 90px;" class="row">
              <div class="col-lg-3 col-md-6 col-md-12">
                <center><img style="width:70px" src="/static/image/environment_icon.png" alt=""></center>
                <h3 style="text-align: center;padding-top: 10px;" >Expert Work Culture</h3>
              </div>
              <div class="col-lg-3 col-md-6 col-md-12">
                <center><img style="width:70px" src="/static/image/quality_icon.png" alt=""></center>
                <h3 style="text-align: center;padding-top: 10px;" >Quality Services</h3>
              </div>
              <div class="col-lg-3 col-md-6 col-md-12">
                <center><img style="width:70px" src="/static/image/customer_icon.png" alt=""></center>
                <h3 style="text-align: center;padding-top: 10px;" >Legal Compliances</h3>
              </div>
              <div class="col-lg-3 col-md-6 col-md-12">
                <center><img style="width:70px" src="/static/image/environment_icon.png" alt=""></center>
                <h3 style="text-align: center;padding-top: 10px;" >Care of Environment</h3>
              </div>
            </div>
          </div>

        {% endblock content %}
; 
        <div style="background-color:rgb(236, 66, 30 ); height:350px; margin-top: 200px;";  class="container-fluid">
            
          <div class="row ">
            <div  class="col-lg-3">
                <img style="padding-left: 70px; padding-top:5px ; width: 400px;" src="/static/image/Onlylogo3.png" alt="Logo">
            </div>
            <div  class="col-lg-3 ">
                <h4 style="padding-left: 70px; padding-top: 30px; color:white;font-weight: bold;"><u>Our Services</u></h4>
            
            <div>
                <ul>
                    <li style="padding-top: 20px; padding-left: 50px; list-style-type:none; "><a style="text-decoration:none; color: white; " href="{% url 'service' %}">Facility Management Services</a></li>
                    <li style="padding-top: 20px; padding-left: 50px; list-style-type:none; "><a style="text-decoration:none; color: white; " href="{% url 'service' %}">Soft Services</a></li>
                    <li style="padding-top: 20px; padding-left: 50px; list-style-type:none; "><a style="text-decoration:none; color: white; " href="{% url 'service' %}">Engineering Services</a></li>
                    <li style="padding-top: 20px; padding-left: 50px; list-style-type:none; "><a style="text-decoration:none; color: white; " href="{% url 'service' %}">Deep Cleaning Services</a></li>
                    <li style="padding-top: 20px; padding-left: 50px; list-style-type:none; "><a style="text-decoration:none; color: white; " href="{% url 'service' %}">Pest Control Services</a></li>
                </ul>
            </div></div>
            <div  class="col-lg-3 ">
                <h4 style="padding-left: 70px; padding-top: 30px;color:white;font-weight: bold;"><u>Others</u></h4>
            
            <div>
                <ul>
                  <li style="padding-top: 20px; padding-left: 50px; list-style-type:none; "><a style="text-decoration:none; color: white;" href="{% url 'contact_us' %}">Contact us</a></li>
                    <li style="padding-top: 20px; padding-left: 50px; list-style-type:none; "><a style="text-decoration:none; color: white;" href="">Clientele</a></li>
                    <li style="padding-top: 20px; padding-left: 50px; list-style-type:none; "><a style="text-decoration:none; color: white;" href="">Testimonials</a></li>
                    <li style="padding-top: 20px; padding-left: 50px; list-style-type:none; "><a style="text-decoration:none; color: white;" href="">Careers</a></li>
                    <li style="padding-top: 20px; padding-left: 50px; list-style-type:none; "><a style="text-decoration:none; color: white;" href="">Gallery</a></li>
                </ul>
            </div></div>
            <div  class="col-lg-3 ">         
                <div style="padding-top: 10px;"><img style="width:50px ;" src="/static/image/location_pic.png"><p style="color:white"> G-210, Sai Heritage, Chhapraula, Gautam Budha Nagar, U.P.</p></div>
                <div style="padding-top: 20px;"><img style="width:50px ;" src="/static/image/Mail_pic.png"><p style="color:white"> info@sunrealfacility.com</p></div>
                <div style="padding-top: 20px;"><img style="width:50px ;" src="/static/image/WhatsApp_icon.png"><p style="color:white">+91-8459165341, 9971272694</p></div>
            </div>
        
          </div>
        </div>  
        



        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

    </body>

</html>
