{% extends 'home.html' %}

{% block title %} Sun Enterprises/Service {% endblock title %}

{% block content %}

<div class="container">
    <div style="text-align: center; color: red; padding-bottom: 30px;" class="row"><h1> <u> Our Services </u></h1></div>
    <div class="row">
        <h4>(1) Engineering Services</h4>
        <p><ul>
            <li style="margin-left:50px">Electrical services - All types of panel, Cabling work, Electrical repair</li>
            <li style="margin-left:50px">Repair/AMC of all types of AC</li>
            <li style="margin-left:50px">AMC/Supply and installation of CCTV</li>
            <li style="margin-left:50px">AMC of Fire Alarm system</li>
            <li style="margin-left:50px">AMC of Access system </li>
            <li style="margin-left:50px">AMC of Water leakage system</li>
            <li style="margin-left:50px">Chair repair</li>
            <li style="margin-left:50px">Paint work</li>
        </ul></p>
    </div>
    <div class="row">
        <h4>(2) Soft Services</h4>
        <p><ul>
            <li style="margin-left:50px">Chair Shampoo</li>
            <li style="margin-left:50px">Carpet Shampoo</li>
            <li style="margin-left:50px">Sofa cleaning</li>
            <li style="margin-left:50px">Deep cleaning of offices, guest house.</li>
            <li style="margin-left:50px">Floor Polishing work of stone/wooden. </li>
        </ul></p>
    </div>
    <div class="row">
        <h4>(3) Fire equipment services</h4>
        <p><ul>
            <li style="margin-left:50px">Supply and installation of Fire materials.</li>
            <li style="margin-left:50px">Supply and installation all types of Fire Extinguishers, AFC fire balls</li>
            <li style="margin-left:50px">Refilling of fire Extinguishers.</li>
        </ul></p>
    </div>
    <div class="row">
        <h4>(4) Facility Management services</h4>
        <p><ul>
            <li style="margin-left:50px">We are providing facilities manpower as housekeeping manpower, technical
                manpower.</li>
            <li style="margin-left:50px">Facilities support services.</li>
        </ul></p>
    </div>
    <div class="row">
        <h4>(5) Sanitization services</h4>
        <p><ul>
            <li style="margin-left:50px">Deep Cleaning services.</li>
            <li style="margin-left:50px">Disinfection/Fumigation services.</li>
        </ul></p>
    </div>
    <div class="row">
        <h4>(6) Pest control services</h4>
        <p><ul>
            <li style="margin-left:50px">Rodent/cockroach control Services</li>
            <li style="margin-left:50px">Mosquitoes/flies control services.</li>
        </ul></p>
    </div>
    <div class="row">
        <h4>(7) Gardening services</h4>
        <p><ul>
            <li style="margin-left:50px">Maintain landscaping services.</li>
            <li style="margin-left:50px">Supply and installation of flowers pots with different varieties.</li>
            <li style="margin-left:50px">Manpower services.</li>
        </ul></p>
    </div>
    <div class="row">
        <h4>(8) Consulting services</h4>
        <p><ul>
            <li style="margin-left:50px">Energy Saving in facility operation.</li>
            <li style="margin-left:50px">Consult of Design for Electrical consumption.</li>
            <li style="margin-left:50px">Consult for wiring/cable diagram for saving installation cost.</li>
        </ul></p>
    </div>
</div>


{% endblock content %}